
<h1> Flights! </h1>

<%= form_tag flights_path, :method => 'get' do %>

    <%= select_tag(:departing_flight,      options_for_select(@airport_options),   prompt: "Departing Airport" )  %>

        <%= select_tag(:arriving_flight,      options_for_select(@airport_options),   prompt: "Arriving Airport" )  %>

    <%= submit_tag("Search Flights") %>

  <% end %>
